body {
  text-align: center;
  background-image: url("../images/background.jpeg");
}
.rating {
  font-size: larger;
}
h2 {
  color: red;
  background: black;
}
button {
  border-style: dashed;
  border-color: gold;
  border-width: 3px;
  background-color: maroon;
  color: white;
}
